/* This is the universal selector this applies to everything within the html document if not defined otherwise */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This is the body selector telling the html file to have a backgroud color of "#d9dcd6" unless defined otherwise */
body {
    background-color: #d9dcd6;
}
/* This is the header class giving a padding around anything with this class used and a background color of #2a607c with a font color of #ffffff */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* This is a class for the header h1 element that puts Horiseon in line in the header. Also makes font size 48px  */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* This class is used in the header to cause the Horiseon header to be two different colors */
.header h1 .seo {
    color: #d9dcd6;
}
/* This is a class for the header element list that puts Search Engine Optimization, Online Reputation Management, Social Media Marketing to the right side of the header. Also adding padding to the top pushing it down and margin to the right to keep the list off the right side of the page */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* This removes the bullets from the list */
.header nav ul {
    list-style-type: none;
}
/* This is a class for the header element that puts Search Engine Optimization, Online Reputation Management, Social Media Marketing in line in the header. */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* This is for the <a> selector that give a font color of #ffffff */
a {
    color: #ffffff;
    text-decoration: none;
}
/* This is for the <p> selector that give a font size of 16px */
p {
    font-size: 16px;
}
/* This controls the center image on the webpage that's below the header  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Assets/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* This causes the images within the box "Search Engine Optimization" and "Social Media Marketing" to float to the left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* This causes the images within the box "Online Reputation Management" to float to the right */
.float-right {
    float: right;
    margin-left: 25px;
}
/* This controls the length and positioning of the content inside the "Search Engine Optimization", "Social Media Marketing", and "Online Repuration" box */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* This controls the aside element  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Combined three selectors to clean-up CSS file all have same property values. Controls the aside element  */
.benefit-lead,.benefit-brand,.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Combined three selectors to clean-up CSS file all have same property values. Controls the aside element */
.benefit-lead h3,.benefit-brand h3,.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Combined three selectors to clean-up CSS file all have same property values. Controls the aside element */
.benefit-lead img,.benefit-brand img,.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Combined three selectors to clean-up CSS file all have same property values. Controls the "Search Engine Optimizaiton", "Online Reputation Management", and "Social Media Marketing" box */
.search-engine-optimization,.online-reputation-management,.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Combined three selectors to clean-up CSS file all have same property values */
.search-engine-optimization img,.online-reputation-management img,.social-media-marketing img {
    max-height: 200px;
}
/* Combined three selectors to clean-up CSS file all have same property values */
.search-engine-optimization h2,.online-reputation-management h2,.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Controls the footer element   */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Controls the footer h2 element giving a font size of 20px  */
.footer h2 {
    font-size: 20px;
}
